<main id="main" class="main">
    <div class="pagetitle">
       <h1>Utilisateurs</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Acceuil</a></li>
             <li class="breadcrumb-item">Utilisateurs</li>
             <li class="breadcrumb-item active">Liste Utilisateurs</li>
          </ol>
       </nav>
    </div>
    <section class="section">
       <div class="row">
          <div class="col-lg-12">
             <div class="card">
                <div class="card-body">
                   <h5 class="card-title">Utilisateurs</h5>
                   
                   
                   <div class="button-container " > 
                     <button class="btn btn-pastel"(click)="openModal()">  <i class="fas fa-plus"></i> AJOUTER UTILISATEUR</button>
              
                 </div>
                <div *ngIf="afficherFormulaire">
                    <app-utilisateur-form></app-utilisateur-form>
                  </div>
                   <table class="table datatable">
                      <thead>
                         <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nom</th>
                            <th scope="col">prenom</th>
                            <th scope="col">Email</th>
                           
                         </tr>
                      </thead>
                      <tbody>
                         <tr>
                           <tr>
                              <th scope="row">1</th>
                              <td>Bridie Kessler</td>
                              <td>Developer</td>
                              <td>35</td>
                              <td>
                                 <button type="button" (click)="test()" ><i class="fas fa-edit" (click)="test()"></i></button>
                                 <button type="button"(click)="test() " ><i class="fas fa-trash" (click)="test()"></i></button>
                               </td>
                              <!-- <td> <button type="button" class="btn btn-pastel-blue "><i class="fas fa-pencil-alt"></i></button> &nbsp;
                                 <button type="button" class="btn btn-pastel-green "><i class="far fa-trash-alt"></i></button>
                            </td> -->
                            <!-- <td>
                              <button type="button" class="btn btn-link btn-edit" (click)="modifierUtilisateur(utilisateur)"><i class="fas fa-edit"></i></button>
                              <button type="button" class="btn btn-link btn-delete" (click)="supprimerUtilisateur(utilisateur)"><i class="fas fa-trash"></i></button>
                            </td> -->
                              <!-- <td>{{ categorie.date | date:'yyyy-MM-dd'}}</td> -->
                              
                           <!-- <td> <button type="button" class="btn btn-pastel-blue "><i class="fas fa-pencil-alt"></i></button> &nbsp;
                                 <button type="button" class="btn btn-pastel-green "><i class="far fa-trash-alt"></i></button>
                            </td> -->
                                <!-- <td> <button type="button" class="btn btn-warning btn-circle"><i class="fa fa-edit"></i></button> &nbsp;
                                     <button type="button" class="btn btn-danger btn-circle"><i class="fa fa-trash"></i></button>
                                </td> -->
                           </tr>
                            <tr *ngFor="let utilisateur of utilisateurs">
                                <td>{{ utilisateur.idUtilisateur }}</td>
                                <td>{{ utilisateur.nom }}</td>
                                <td>{{ utilisateur.prenom }}</td>
                                <td>{{ utilisateur.email}}</td>
                              
                           
                                <td>
                                 <button type="button" class="btn btn-link btn-edit" (click)="modifierUtilisateur(utilisateur)"><i class="fas fa-edit"></i></button>
                                 <button type="button" class="btn btn-link btn-delete" (click)="supprimerUtilisateur(utilisateur)"><i class="fas fa-trash"></i></button>
                               </td>
                         </tr>
                        
                      </tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>
    </section>
 </main> 
