<custom-modal #modal [modalConfig]="modalConfig">
</custom-modal>
<custom-modal #modalNew [modalConfig]="modalConfigNew">
</custom-modal>
<div class='demo-app'>

   <div class='demo-app-sidebar'>
     <div class='demo-app-sidebar-section'>
       <h2>Instructions</h2>
       <ul>
         <li>Select dates and you will be prompted to create a new event</li>
         <li>Drag, drop, and resize events</li>
         <li>Click an event to delete it</li>
       </ul>
     </div>
     <div class='demo-app-sidebar-section'>
       <label>
         <input
           type='checkbox'
           [checked]='calendarVisible'
           (change)='handleCalendarToggle()'
         />
         toggle whole calendar
       </label>
     </div>
     <div class='demo-app-sidebar-section'>
       <label>
         <input
           type='checkbox'
           [checked]='calendarOptions.weekends'
           (change)='handleWeekendsToggle()'
         />
         toggle weekends
       </label>
     </div>
     <div class='demo-app-sidebar-section'>
       <h2>All Events ({{currentEvents.length}})</h2>
       <ul>
         <li *ngFor='let event of currentEvents'>
           <b>{{event.startStr}}</b>
           <i>{{event.title}}</i>
         </li>
       </ul>
   
     </div>
   </div>
 
   <div class='demo-app-main'>
     <full-calendar *ngIf='calendarVisible' [options]='calendarOptions'>
       <ng-template #eventContent let-arg>
         <b>{{ arg.timeText }}</b>
         <i>{{ arg.event.title }}</i>
       </ng-template>
     </full-calendar>
     
   </div>
 
 </div>
 
 <!-- <ng-template #content let-modal>
  <span class="fa-stack fa-1x" (click)="modal.dismiss('cancel click')"
    style="position: absolute; top: -25px;right: -14px;padding: 10px;z-index: 1111; cursor: pointer;">
    <i class="fa fa-circle fa-stack-2x" style=" -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
             background-color: #d1ef12; ">
    </i>
    <i class=" fa  fa-times fa-stack-1x " style="color: black;font-size: 19px;"></i>
  </span>
  <div class="modal-header">
    <h4>Ajout </h4>
    </div>

  <div class="modal-body">
    <form >
      <div class="row">
        <div class="col-lg-3">
          <label for="">Nom </label>
        </div>
        <div class="col-lg-9">
          <input type="text" placeholder="Nom" class="form-control"> 
        </div>
       
      </div><br>
      <div class="row">
        <div class="col-lg-3">
          <label for="">Prenom  </label>
        </div>
        <div class="col-lg-9">
          <input type="text" placeholder="Prenom " class="form-control"> 
        </div>
      </div>  <br>

      <div class="row">
        <div class="col-lg-3">
          <label for=""> Description</label>
        </div>
        <div class="col-lg-9">
          <input type="text" placeholder="Description " class="form-control">
        </div>  

      </div>  
        
        
           <div class="modal-footer">
               <button type="button" class="btn btn-primary" > Enregistrer</button>
               <button type="button" class="btn btn-danger " > Annuler</button>
          </div>
      
    </form>
 
   

  </div>

</ng-template> -->
div class="register-form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Full Name</label>
      <input
        type="text"
        formControlName="fullname"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['fullname'].errors }"
      />
      <div *ngIf="submitted && f['fullname'].errors" class="invalid-feedback">
        <div *ngIf="f['fullname'].errors['required']">Fullname is required</div>
      </div>
    </div>

    <div class="form-group">
      <label>Username</label>
      <input
        type="text"
        formControlName="username"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"
      />
      <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
        <div *ngIf="f['username'].errors['required']">Username is required</div>
        <div *ngIf="f['username'].errors['minlength']">
          Username must be at least 6 characters
        </div>
        <div *ngIf="f['username'].errors['maxlength']">
          Username must not exceed 20 characters
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Email</label>
      <input
        type="text"
        formControlName="email"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
      />
      <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
        <div *ngIf="f['email'].errors['required']">Email is required</div>
        <div *ngIf="f['email'].errors['email']">Email is invalid</div>
      </div>
    </div>

    <div class="form-group">
      <label>Password</label>
      <input
        type="password"
        formControlName="password"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
      />
      <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
        <div *ngIf="f['password'].errors['required']">Password is required</div>
        <div *ngIf="f['password'].errors['minlength']">
          Password must be at least 6 characters
        </div>
        <div *ngIf="f['password'].errors['maxlength']">
          Username must not exceed 40 characters
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Confirm Password</label>
      <input
        type="password"
        formControlName="confirmPassword"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }"
      />
      <div
        *ngIf="submitted && f['confirmPassword'].errors"
        class="invalid-feedback"
      >
        <div *ngIf="f['confirmPassword'].errors['required']">
          Confirm Password is required
        </div>
        <div *ngIf="f['confirmPassword'].errors['matching']">
          Confirm Password does not match
        </div>
      </div>
    </div>

    <div class="form-group form-check">
      <input
        type="checkbox"
        formControlName="acceptTerms"
        class="form-check-input"
        [ngClass]="{ 'is-invalid': submitted && f['acceptTerms'].errors }"
      />
      <label for="acceptTerms" class="form-check-label"
        >I have read and agree to the Terms</label
      >
      <div *ngIf="submitted && f['acceptTerms'].errors" class="invalid-feedback">
        Accept Terms is required
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Register</button>
      <button
        type="button"
        (click)="onReset()"
        class="btn btn-warning float-right"
      >
        Reset
      </button>
    </div>
  </form>
</div>