<custom-modal #modal [modalConfig]="modalConfig">
</custom-modal>
<custom-modal #modalNew [modalConfig]="modalConfigNew">
</custom-modal>
<div class='demo-app'>

  
 
   <div class='demo-app-main'>
     <full-calendar *ngIf='calendarVisible' [options]='calendarOptions'>
       <ng-template #eventContent let-arg>
         <b>{{ arg.timeText }}</b>
         <i>{{ arg.event.title }}</i>
       </ng-template>
     </full-calendar>
     
   </div>
 
   <ng-template #content let-modal>
    <span class="fa-stack fa-1x" (click)="modal.dismiss('cancel click')"
      style="position: absolute; top: -25px;right: -14px;padding: 10px;z-index: 1111; cursor: pointer;">
      <i class="fa fa-circle fa-stack-2x" style=" -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
               background-color: #d1ef12; ">
      </i>
      <i class=" fa  fa-times fa-stack-1x " style="color: black;font-size: 19px;"></i>
    </span>
  
  
    <div class="modal-body">
      <form class="form" role="form" [formGroup]="newequiForm" (ngSubmit)="onSubmit()">
        <div class="form-group row">
          <label class="col-lg-3 col-form-label form-control-label"
            [ngClass]="{ 'is-invalid': submitted && f['nom'].errors }">Nom </label>
          <div class="col-lg-9">
            <input class="form-control" type="text" formControlName="nom">
            <div *ngIf="submitted && f['nom'].errors" class="invalid-feedback">
              <div *ngIf="f['nom'].errors['required']"> Name is required</div>
            </div>
          </div>
        </div><br>
  
        <div class="form-group row">
          <label class="col-lg-3 col-form-label form-control-label">Description</label>
          <div class="col-lg-9">
            <textarea rows="1" name="message2" id="message2" class="form-control"
              formControlName="description"></textarea>
          </div>
        </div><br>
        <div class="form-group row">
          <label class="col-lg-3 col-form-label form-control-label">Budget</label>
          <div class="col-lg-9">
            <textarea rows="1" name="message2" id="message2" class="form-control"
              formControlName="description"></textarea>
          </div>
        </div><br>
  
        <div class="form-group row">
          <div class="col">
            <button type="submit" class="btn btn-primary" >Enregistrer</button><br><br>
  
          </div>
          <div class="col">
            <button type="submit" class="btn btn-danger">Annuler</button>
  
          </div>
        </div>
  
      </form>
  
      </div>
  
  </ng-template>

  <ng-template #contentUpdate let-modal>
    <span class="fa-stack fa-1x" (click)="modal.dismiss('cancel click')"
      style="position: absolute; top: -25px;right: -14px;padding: 10px;z-index: 1111; cursor: pointer;">
      <i class="fa fa-circle fa-stack-2x" style=" -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
               background-color: #d1ef12; ">
      </i>
      <i class=" fa  fa-times fa-stack-1x " style="color: black;font-size: 19px;"></i>
    </span>
  
  
    <div class="modal-body">
      <form class="form" role="form" [formGroup]="newequiForm" (ngSubmit)="onSubmit()">
        <div class="form-group row">
          <label class="col-lg-3 col-form-label form-control-label"
            [ngClass]="{ 'is-invalid': submitted && f['nom'].errors }">Nom </label>
          <div class="col-lg-9">
            <input class="form-control" type="text" formControlName="nom">
            <div *ngIf="submitted && f['nom'].errors" class="invalid-feedback">
              <div *ngIf="f['nom'].errors['required']"> Name is required</div>
            </div>
          </div>
        </div><br>
  
        <div class="form-group row">
          <label class="col-lg-3 col-form-label form-control-label">Description</label>
          <div class="col-lg-9">
            <textarea rows="1" name="message2" id="message2" class="form-control"
              formControlName="description"></textarea>
          </div>
        </div><br>
        <div class="form-group row">
          <label class="col-lg-3 col-form-label form-control-label">Budget</label>
          <div class="col-lg-9">
            <textarea rows="1" name="message2" id="message2" class="form-control"
              formControlName="description"></textarea>
          </div>
        </div><br>
  
        <div class="form-group row">
          <div class="col">
            <button type="submit" class="btn btn-primary" >Enregistrer</button><br><br>
  
          </div>
          <div class="col">
            <button type="submit" class="btn btn-danger">Annuler</button>
  
          </div>
        </div>
  
      </form>
  
      </div>
  
  </ng-template>
 </div>
 
