<h1 mat-dialog-title>Ajouter une catégorie</h1>
<!-- <div >
  <form>
    <mat-form-field appearance="outline">
      <input matInput placeholder="Nom" [(ngModel)]="categorie.nom" name="nom">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput placeholder="Description" [(ngModel)]="categorie.description" name="description">
    </mat-form-field>
    <mat-form-field >
      <input matInput placeholder="Budget" [(ngModel)]="categorie.budget" name="budget">
    </mat-form-field>
    <mat-form-field >
      <input matInput >
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onAnnuler()">Annuler</button>
  <button mat-button color="primary" (click)="onAjouter()">Ajouter</button>
</div> -->

<form>
  <div class="row mb-3">
     <div class="col-md-8 col-lg-12"> 
      <input placeholder="Nom" [(ngModel)]="categorie.nom" name="nom" class="form-control">
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-8 col-lg-12"> 
     <input  placeholder="Description" [(ngModel)]="categorie.description" name="description"class="form-control" id="currentPassword">
   </div>
 </div>
 <div class="row mb-3">
  <div class="col-md-8 col-lg-12"> 
   <input  placeholder="Budget" [(ngModel)]="categorie.budget" name="budget"class="form-control" id="currentPassword">
 </div>
</div>
<div class="text-center"> 
  <button type="submit" class="btn btn-info" (click)="onAjouter()">Ajouter</button> 
  <button type="reset" class="btn btn-secondary" (click)="onAnnuler()">Annuler</button>
</div>


 
</form>