<app-header *ngIf="!(_router.url === '/register' || _router.url === '/login' || _router.url === '/pages-error404'|| _router.url === '/requests'|| _router.url === 'Dépenses'|| _router.url === 'Revenus')" ></app-header>
<app-sidebar *ngIf="!(_router.url === '/register' || _router.url === '/login' || _router.url === '/pages-error404'|| _router.url === '/requests'|| _router.url === 'Dépenses'|| _router.url === 'Revenus')" ></app-sidebar>
<app-footer *ngIf="!(_router.url === '/register' || _router.url === '/login' || _router.url === '/pages-error404' || _router.url === '/requests'|| _router.url === 'Dépenses'|| _router.url === 'Revenus')" ></app-footer>
<router-outlet></router-outlet>
<app-home-page></app-home-page>