
<ng-template #modal>
    <div class="modal-header">
      <h5 class="modal-title">{{ modalConfig.modalTitle }}</h5>
    </div>
    <div class="modal-body">

      <form class="form" role="form" [formGroup]="neweventForm">

        <div class="form-group row">
          <label class="col-lg-3 col-form-label form-control-label">Description</label>
          <div class="col-lg-9">
            <textarea rows="1" class="form-control"
              formControlName="description"></textarea>
          </div>
        </div><br>
        <div class="form-group row">
          <label class="col-lg-3 col-form-label form-control-label">montant</label>
          <div class="col-lg-9">
            <input class="form-control" type="text" formControlName="montant">
          </div>
        </div><br>
        <div class="form-group row">
          <label class="col-lg-3 col-form-label form-control-label">Date</label>
          <div class="col-lg-9">
            <input type="date" formControlName="date" class="form-control" >

          </div>
        </div><br>

        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" value="Sauvegarder" (click)="Newevent()">Enregistrer</button><br><br>
          <button type="button"
               class="btn btn-outline-primary"
               (click)="close()"
               *ngIf="modalConfig.hideCloseButton === undefined || !modalConfig.hideCloseButton()"
               [disabled]="modalConfig.disableCloseButton !== undefined && modalConfig.disableCloseButton()">
            {{ modalConfig.closeButtonLabel }}
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" value="Sauvegarder" (click)="Newevent()">Enregistrer</button><br><br>
          <button type="button"
               class="btn btn-outline-primary"
               (click)="close()"
               *ngIf="modalConfig.hideCloseButton === undefined || !modalConfig.hideCloseButton()"
               [disabled]="modalConfig.disableCloseButton !== undefined && modalConfig.disableCloseButton()">
            {{ modalConfig.closeButtonLabel }}
          </button>
        </div>

      </form>

    </div>
  </ng-template>