<main id="main" class="main">
    <h1>Statistiques</h1>
      <div class="container-mt5">
         <div class="row">
          <div class="col-lg-6">
              <div class="card">
                 <div class="card-body">
                    <h5 class="card-title">Default</h5>
                    <div class="progress">
                       <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress mt-3">
                       <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress mt-3">
                       <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress mt-3">
                       <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                 </div>
              </div>
              <div class="card">
                  <div class="card-body">
                     <h5 class="card-title">Line Chart</h5>
                     <canvas id="lineChart" style="max-height: 400px;"></canvas>
                     
                  </div>
               </div>
          </div>
          <div class="col-sm-6">
              <div class="card">
                  <div class="card-body">
                     <h5 class="card-title">Doughnut Chart</h5>
                     <canvas id="doughnutChart" style="max-height: 400px;"></canvas>
                    
                  </div>
               </div>
  
              
          </div>
  
  
  
  
  
  
  
             
  
          </div>
         
      </div>
  </main>