<main>
    <div class="container">
       <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
          <div class="container">
             <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                   <div class="d-flex justify-content-center py-4"> <a routerLink="/" class="logo d-flex align-items-center w-auto"> <img src="assets/img/logo.png" alt=""  width="80"> <span class="d-none d-lg-block">E-WALLET</span> </a></div>
                   <div class="card mb-3">
                      <div class="card-body">
                         <div class="pt-4 pb-2">
                            <h5 class="card-title text-center pb-0 fs-4">Créer un Compte</h5>
                            <p class="text-center small">Entrez vos détails personnels pour créer un compte</p>
                         </div>
                         <form class="row g-3 needs-validation" *ngIf="!isSuccessful"
                         name="form"
                         (ngSubmit)="f.form.valid && onSubmit()"
                         #f="ngForm"
                         
                        novalidate>
                            <div class="col-12">
                               <label for="votreNom" class="form-label">Votre Nom</label> <input type="text" name="nom" class="form-control" id="VotreNom"  [(ngModel)]="form.nom" required #nom="ngModel" minlength="3"
                               maxlength="20"
                               >
                            
                               <div class="invalid-feedback">S'il vous plaît, entrez votre nom!</div>
                            </div>
                            <div class="col-12">
                               <label for="votreEmail" class="form-label">Votre Email</label> <input type="email" name="email" class="form-control" id="votreEmail"    [(ngModel)]="form.email" required  #email="ngModel">
                               
                               <div class="invalid-feedback">s'il vous plaît, entrez une adresse email valide!</div>
                            </div>
                            <!-- <div class="col-12">
                               <label for="votreNom" class="form-label">Nom</label>
                               <div class="input-group has-validation">
                                  <span class="input-group-text" id="inputGroupPrepend">@</span> <input type="text" name="nom" class="form-control" id="votreNom" required>
                                  <div class="invalid-feedback">S'il vous plaît, choisissez un nom.</div>
                               </div>
                            </div> -->
                            <div class="col-12">
                               <label for="votremotDePasse" class="form-label">Mot de passe</label> <input type="motDePasse" name="motDePasse" class="form-control" id="votremotDePasse"  [(ngModel)]="form.motDePasse" 
                               required #motDePasse="ngModel"
                               minlength="6"
                               >
                              
                               <div class="invalid-feedback">S'il vous plaît, entrez votre mot de passe!</div>
                            </div>
                            <!-- <div class="col-12">
                               <div class="form-check">
                                  <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required> <label class="form-check-label" for="acceptTerms">Je suis d'accord et j'accepte les <a href="#">termes et les conditions</a></label>
                                  <div class="invalid-feedback">Vous devez accepter avant de soumettre.</div>
                               </div>
                            </div> -->
                            <div class="col-12"> <button class="btn btn-primary w-100" type="submit" onsubmit="">Créer Compte</button></div>
                            <div class="col-12">
                               <p class="small mb-0">Vous avez déjà un compte? <a routerLink="/pages-login">Connexion</a></p>
                            </div>
                         </form>
                      </div>
                   </div>
                   <!-- <div class="credits"> Loved by <a href="https://freeetemplates.com/">FreeeTemplates</a></div> -->
                </div>
             </div>
          </div>
       </section>
    </div>
 </main>