<main id="main" class="main">
   <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Acceuil</a></li>
            <li class="breadcrumb-item active">tableau de bord</li>
         </ol>
      </nav>
   </div>
   <section class="section dashboard">
      <div class="row">
         <div class="col-lg-8">
            <div class="row">
               <div class="col-xxl-4 col-md-6">
                  <div class="card info-card sales-card">
                     <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                           <li class="dropdown-header text-start">
                              <h6>Filtrer par </h6>
                           </li>
                           <li><a class="dropdown-item" href="#">Aujourd'hui</a></li>
                           <li><a class="dropdown-item" href="#">Ce mois</a></li>
                           <li><a class="dropdown-item" href="#">Cette année</a></li>
                        </ul>
                     </div>
                     <div class="card-body">
                        <h5 class="card-title">Dépenses <span>| Aujourd'hui</span></h5>
                        <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-cart"></i>
                          </div>
                          <div class="ps-3">
                            <h6>{{ totalAmount }} DT</h6>
                          </div>
                        </div>
                      </div>
                  </div>
               </div>
               <div class="col-xxl-4 col-md-6">
                  <div class="card info-card revenue-card">
                     <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                           <li class="dropdown-header text-start">
                              <h6>Filtrer par</h6>
                           </li>
                           <li><a class="dropdown-item" href="#">Aujourd'hui</a></li>
                           <li><a class="dropdown-item" href="#">Ce mois</a></li>
                           <li><a class="dropdown-item" href="#">Cette année</a></li>
                        </ul>
                     </div>
                     <div class="card-body">
                        <h5 class="card-title">Revenus <span>| Ce mois</span></h5>
                        <div class="d-flex align-items-center">
                           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                             <i class="bi bi-cart"></i>
                           </div>
                           <div class="ps-3">
                             <h6>{{ revenusTotal }} DT</h6>
                           </div>
                         </div>
                     </div>
                  </div>
               </div>
               <div class="col-xxl-4 col-xl-12">
                  <div class="card info-card customers-card">
                     <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                           <li class="dropdown-header text-start">
                              <h6>Filtrer par</h6>
                           </li>
                           <li><a class="dropdown-item" href="#">Aujourd'hui</a></li>
                           <li><a class="dropdown-item" href="#">Ce mois</a></li>
                           <li><a class="dropdown-item" href="#">Cette année</a></li>
                        </ul>
                     </div>
                     <div class="card-body">
                        <h5 class="card-title">Solde du compte <span>| Ce mois</span></h5>
                        <div class="d-flex align-items-center">
                           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i
                                 class="bi bi-people"></i></div>
                           <div class="ps-3">
                              <h6>{{SoldeDeCompte}} DT</h6>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-12">
                  <div class="card">
                     <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                           <li class="dropdown-header text-start">
                              <h6>Filtrer par</h6>
                           </li>
                           <li><a class="dropdown-item" href="#">Aujourd'hui</a></li>
                           <li><a class="dropdown-item" href="#">Ce mois</a></li>
                           <li><a class="dropdown-item" href="#">Cette année</a></li>
                        </ul>
                     </div>
                     <div class="card-body">
                        <h5 class="card-title">Rapports <span>/Aujourd'hui</span></h5>
                        <div id="reportsChart"></div>
                     </div>
                  </div>
               </div>
               <div class="col-12">
                  <div class="card recent-sales overflow-auto">
                     <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                           <li class="dropdown-header text-start">
                              <h6>Filtrer par</h6>
                           </li>
                           <li><a class="dropdown-item" href="#">Aujourd'hui</a></li>
                           <li><a class="dropdown-item" href="#">Ce mois</a></li>
                           <li><a class="dropdown-item" href="#">Cette année</a></li>
                        </ul>
                     </div>
                     <div class="card-body">
                        <h5 class="card-title">Paiement prévu <span>| Ce mois</span></h5>
                        <table class="table table-borderless datatable">
                           <thead>
                              <tr>
                                 <th scope="col">Paiement</th>
                                 <th scope="col">Date prévue</th>
                                 <th scope="col">Montant</th>
                                 <th scope="col">Statut</th>

                                 
                              </tr>
                           </thead>
                           <tbody>
                           <tr *ngFor="let depense of depenses ">
                              
                              <td>{{ depense.description}}</td>
                              <td>{{ depense.datePrevue }}</td>
                              <td>{{ depense.montant }}</td>
                              <td *ngIf="depense.statut==='TODO'"><span class="badge bg-success">Effectué</span></td>
                              <td *ngIf="depense.statut==='DONE'"><span class="badge bg-danger">A faire</span></td>
                              
                           </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>

            </div>
         </div>
         <div class="col-lg-4">
            <div class="card">
               <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                     <li class="dropdown-header text-start">
                        <h6>Filtrer par</h6>
                     </li>
                     <li><a class="dropdown-item" href="#">Aujourd'hui</a></li>
                     <li><a class="dropdown-item" href="#">Cette Semaine</a></li>
                     <li><a class="dropdown-item" href="#">Ce mois</a></li>
                  </ul>
               </div>
               <div class="card-body">
                   <h5 class="card-title">Dépenses récentes <span>| Aujourd'hui</span></h5>
                   <div class="activity">
                     <div class="activity-item d-flex" *ngFor="let depense of recentDepenses">
                       <div class="activite-label">{{ depense.date  | dateAsAgo  }}</div>
                        <!-- <i class='bi bi-circle-fill activity-badge' [ngClass]="getBadgeColor(depense.category)"></i>  -->
                        <div class="activity-content">{{ depense.description }}</div>
                     </div>
                   </div>
                </div>
            </div>
            <div class="card">
               <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                     <li class="dropdown-header text-start">
                        <h6>Filtrer par</h6>
                     </li>
                     <li><a class="dropdown-item" href="#">Aujourd'hui</a></li>
                     <li><a class="dropdown-item" href="#">Cette Semaine</a></li>
                     <li><a class="dropdown-item" href="#">Ce mois</a></li>
                  </ul>
               </div>
               <div class="card-body pb-0">
                  <h5 class="card-title">Rapport budget <span>| Ce mois</span></h5>
                  <div id="budgetChart" style="min-height: 400px;" class="echart"></div>
               </div>
            </div>
            <div class="card">
               <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                     <li class="dropdown-header text-start">
                        <h6>Filtrer par</h6>
                     </li>
                     <li><a class="dropdown-item" href="#">Aujourd'hui</a></li>
                     <li><a class="dropdown-item" href="#">Cette Semaine</a></li>
                     <li><a class="dropdown-item" href="#">Ce mois</a></li>
                  </ul>
               </div>
               <div class="card-body pb-0">
                  <h5 class="card-title">Dépenses par Catégorie<span>| Ajourdh'hui</span></h5>
                  <div class="chart-container">
                     <canvas id="MyChart">{{ chart }}</canvas>
                  </div>

               </div>
            </div>

         </div>
      </div>
   </section>
</main>